@import "open_color";


:root {
    --background-color: var(--oc-white);
    --default-color: var(--oc-gray-8);
    --deemphasized-color: var(--oc-gray-6);
    --link-color: var(--oc-gray-6);

    --authors-color: var(--oc-orange-8);
    --ordering-color: var(--oc-red-8);
    --series-color: var(--oc-teal-8);
    --titles-color: var(--oc-blue-8);
    --news-color: var(--oc-violet-8);

    --authors-color-focus: var(--oc-orange-9);
    --ordering-color-focus: var(--oc-red-9);
    --series-color-focus: var(--oc-teal-9);
    --titles-color-focus: var(--oc-blue-9);
    --news-color-focus: var(--oc-violet-9);

    --authors-background-color: var(--oc-orange-1);
    --ordering-background-color: var(--oc-red-1);
    --series-background-color: var(--oc-teal-1);
    --titles-background-color: var(--oc-blue-1);
    --news-background-color: var(--oc-violet-1);

    --authors-border-color: var(--oc-orange-3);
    --ordering-border-color: var(--oc-red-3);
    --series-border-color: var(--oc-teal-3);
    --titles-border-color: var(--oc-blue-3);
    --news-border-color: var(--oc-violet-3);
}
