$small-max-width: 50rem;  // 800px when 1rem is 16px
$middle-max-width: 62.5rem;  // 1000px when 1rem is 16px

.homepage-frame {
    height: 100%;
    width: 100%;

    display: grid;
}
@media (min-width: $middle-max-width) {
    .homepage-frame {
        grid-template-areas:
            "menu title"
            "menu image"
            "menu text";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content 1fr;
    }
}
@media (max-width: $middle-max-width) and (min-width: $small-max-width) {
    .homepage-frame {
        grid-template-areas:
            "title title"
            "menu menu"
            "image text"
        ;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: $small-max-width) {
    .homepage-frame {
        grid-template-areas:
            "title"
            "menu"
            "image"
            "text"
        ;
    }
}

.homepage-title {
    grid-area: title;

    text-align: center;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (max-width: $middle-max-width) {
    .homepage-title {
        font-size: calc(1em + 4vw);
    }
}

@media (max-width: $small-max-width) {
    .homepage-title {
        margin: .5em;
    }
}



.homepage-menu {
    grid-area: menu;

    list-style: none;
    margin: 0;
    padding: 0 var(--std-space);

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.homepage-menu-item {
    flex-grow: 1;
    font-size: 5vw;
    min-width: 5vw;
}
.homepage-menu-item + .homepage-menu-item {
    margin-left: var(--std-space);
}
.homepage-menu-item a {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.homepage-menu-item a:hover, .homepage-menu-item a:focus {
    text-decoration: underline;
}


.rotated-text {
    text-decoration: inherit;
}
@media (min-width: $middle-max-width) {
    .rotated-text {
        position: absolute;
        transform: rotate(-.25turn);
        transform-origin: center;
    }
}


.homepage-text-section {
    grid-area: text;

    padding: 0 var(--std-space) var(--std-space) var(--std-space);
}
.homepage-text-section .line-block {
    // NB: The .line-block class is provided by Pelican when you specify
    //     line breaks for some text.
    margin-bottom: var(--std-space);
}


.homepage-image-section {
    grid-area: image;

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage-figure img {
    width: 100%;
}
@media (max-width: $small-max-width) {
    .homepage-figure {
        margin-top: calc(2 * var(--std-space));
        margin-bottom: calc(var(--std-space) / 2)
    }
}
