$mobile-max-width: 40.5624rem;  // 649px when 1rem is 16px


#homepage-frame {
    --core-flex-direction: row;

    display: flex;
    flex-direction: var(--core-flex-direction);
    height: 100%;
    justify-content: space-between;
    width: 100%;

    h1 {
        text-align: center;

        @media (max-width: 56.25rem) {  // 900px when 1rem is 16px
            font-size: calc(1em + 4vw);
        }

        @media (max-width: $mobile-max-width) {
            margin: .5em;
        }
    }

    @media (max-width: $mobile-max-width) {
        --core-flex-direction: column;
    }
}


#homepage-menu {
    flex-grow: 3;
    list-style: none;
    margin: 0;
    padding: 0 $std-space;

    display: flex;
    justify-content: space-between;
    align-items: stretch;

    li {
        flex-grow: 1;
        font-size: 5vw;
        min-width: 5vw;
    }

    li + li {
        margin-left: $std-space;
    }

    a {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    .rotated-text {
        text-decoration: inherit;
    }

    @media (min-width: #{$mobile-max-width}) {
        .rotated-text {
            position: absolute;
            transform: rotate(-.25turn);
            transform-origin: center;
        }
    }
}


.homepage-about {
    $homepage-about-padding: $std-space;

    flex-basis: 25em;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    padding: $homepage-about-padding 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: $mobile-max-width) {
        padding-bottom: $homepage-about-padding * 2;

        p, .line-block {
            margin-left: $homepage-about-padding;
            margin-right: $homepage-about-padding;
        }
    }
}


#homepage-no-details {
    order: 1;

    img {
        width: 100%;
    }

    figure {
        width: 80%;

        @media (max-width: $mobile-max-width) {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}


#homepage-details {
    display: none;
    order: 2;

    &:target {
        display: block;
    }

    &:target ~ * {
        display: none;
    }

    // The "details" are expanded so we flip the arrow's direction.
    .homepage-expansion-divider a {
        transform: rotate(-.5turn);
        transform-origin: center;
    }
}


.homepage-expansion-divider {
    display: flex;
    align-items: center;
    width: 100%;

    --button-width: 2rem;

    a {
        height: var(--button-width);
        width: var(--button-width);

        background-color: var(--oc-gray-1);
        color: var(--oc-gray-6);
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;

        border: none;
        border-width: 1px;
        border-style: solid;
        border-color: var(--oc-gray-1);
        border-radius: calc(var(--button-width) / 2);

        /* This is the fully expanded size (40px) minus normal size (32px), half for each side. */
        margin-top: 4px;
        margin-bottom: 4px;

        &:hover, &:focus {
            --button-width: 2.5rem;
            background-color: var(--oc-gray-3);
            border-color: var(--oc-gray-3);
            text-decoration: none;

            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .expandy-lines {
        border-bottom: var(--oc-gray-1) solid 3px;
        flex-grow: 1;
        margin-left: calc(var(--button-width) / 2);
        margin-right: calc(var(--button-width) / 2);
    }
}
