*, *:before, *:after {
    box-sizing: border-box;
}
body {
    color: var(--oc-gray-8);
    font-family: BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
    outline: none;
}

/* section colours */
.authors { color: var(--oc-teal-8); }
.ordering { color: var(--oc-red-8); }
.series { color: var(--oc-indigo-8); }
.volumes { color: var(--oc-orange-8); }

.authors.with-bg { background-color: var(--oc-teal-1); }
.ordering.with-bg { background-color: var(--oc-red-1); }
.series.with-bg { background-color: var(--oc-indigo-1); }
.volumes.with-bg { background-color: var(--oc-orange-1); }
/* end section colours */


/* this is the arrow surrounded by two lines that expands and closes sections on the homepage */
.clicky-expand-divider {
    display: flex;
    align-items: center;
    width: 100%;

    --button-width: 32px;
}
.clicky-expand-divider a {
    height: var(--button-width);
    width: var(--button-width);

    background-color: var(--oc-gray-1);
    color: var(--oc-gray-6);
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-width: 1px;
    border-style: solid;
    border-color: var(--oc-gray-1);
    border-radius: calc(var(--button-width) / 2);

    /* This is the fully expanded size (40px) minus normal size (32px), half for each side. */
    margin-top: 4px;
    margin-bottom: 4px;
}
.clicky-expand-divider a:hover, .clicky-expand-divider a:focus {
    --button-width: 40px;
    background-color: var(--oc-gray-3);
    border-color: var(--oc-gray-3);
    text-decoration: none;

    margin-top: 0;
    margin-bottom: 0;
}
.clicky-expand-divider .expandy-lines {
    border-bottom: var(--oc-gray-1) solid 3px;
    flex-grow: 1;
    margin-left: calc(var(--button-width) / 2);
    margin-right: calc(var(--button-width) / 2);
}
/* end */


/* links to other sites */
a.external {
    color: var(--oc-gray-6);
}
a.external:hover, a.external:focus {
    text-decoration: underline;
}
/* end: links to other sites */


/* navbar */
#site-header {
    --navbar-height: 75px;
    --navbar-item-width: 100px;

    align-items: center;
    background-color: var(--oc-gray-2);
    display: flex;
    height: var(--navbar-height);
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 16px;
}
#site-header nav {
    height: var(--navbar-height);
    margin-left: 40px;
}
#site-header ul {
    height: var(--navbar-height);
    margin: 0;
    padding: 0;

    display: flex;
    align-items: stretch;
}
#site-header li {
    list-style: none;
    height: var(--navbar-height);
    width: var(--navbar-item-width);
}
#site-header li + li {
    margin-left: 24px;
}
#site-header nav a {
    align-items: center;
    display: flex;
    height: var(--navbar-height);
    justify-content: center;
    padding: 16px;
    width: var(--navbar-item-width);
}
/* end navbar */

/*  */
main {
    --margin-width: 5vw;
    margin-left: var(--margin-width);
    margin-right: var(--margin-width);
    max-width: 1000px;
}
@media (min-width: 600px) {
    main {
        --margin-width: 10vw;
    }
}
@media (min-width: 800px) {
    main {
        --margin-width: 15vw;
    }
}
.imm-title {
    font-size: calc(2vw + 1rem);
}
.imm-title.large {
    display: block
}
.imm-title.small {
    display: none;
}
@media (max-width: 1000px) {
    .imm-title.large {
        display: none;
    }
    .imm-title.small {
        display: block;
    }
}
h1 {
    font-size: 3rem;
}
/*  */

/*  */
.expansion-part {
    display: none;

    font-size: 1rem;
    margin-right: 16px;
    max-width: 1000px;
}
.content-list *:target > a {
    display: none;
}
.content-list *:target .expansion-part {
    display: block;
}
.content-list *:target {
    margin-left: -5vw;
}

.content-list, .content-list ol {
    list-style: none;
    padding: 0;
}

.content-list {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-left: 5vw;
}
.content-list > li > a {
    border: solid 1px rgba(255, 255, 255, 0);
    padding: 0 .5em;
}
.content-list > li > a:hover,
.content-list > li > a:focus {
    text-decoration: none;
}
.content-list.author-list > li > a:hover,
.content-list.author-list > li > a:focus {
    background-color: var(--oc-teal-1);
    border-color: var(--oc-teal-3);
}
.content-list.series-list > li > a:hover,
.content-list.series-list > li > a:focus {
    background-color: var(--oc-indigo-1);
    border-color: var(--oc-indigo-3);
}
.content-list.volume-list > li > a:hover,
.content-list.volume-list > li > a:focus {
    background-color: var(--oc-orange-1);
    border-color: var(--oc-orange-3);
}

.expansion-part {
    border: solid black 2px;
    margin: 16px 0;
    padding: 16px;
}
.expansion-part h2 {
    font-size: 2em;
    margin-top: 0;
}
.expansion-part h3 {
    font-size: 2em;
    margin-top: 0;
}
.author-list .expansion-part {
    border-color: var(--oc-teal-3);
}
.series-list .expansion-part {
    border-color: var(--oc-indigo-3);
}
.volume-list .expansion-part {
    border-color: var(--oc-orange-3);
}

.list-of-books {
    padding-left: 2rem;
}
.author-list .list-of-books a:hover,
.author-list .list-of-books a:focus {
    color: var(--oc-teal-9);
}
.series-list .list-of-books a:hover,
.series-list .list-of-books a:focus {
    color: var(--oc-indigo-9);
}
.volume-list .list-of-books a:hover,
.volume-list .list-of-books a:focus {
    color: var(--oc-orange-9);
}
/*  */

/* homepage */
#homepage-frame {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
}
#homepage-frame h1 {
    text-align: center;
}
#homepage-menu {
    flex-grow: 3;
    list-style: none;
    margin: 0;
    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
#homepage-menu li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5vw;
    min-width: 5vw;
}
#homepage-menu li + li {
    margin-left: 16px;
}
#homepage-menu a {
    position: absolute;
    transform: rotate(-.25turn);
    transform-origin: center;
}
.homepage-about {
    flex-basis: 25em;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    padding: 16px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#homepage-no-details img {
    width: 100%;
}
#homepage-no-details picture {
    width: 80%;
}
#homepage-no-details {
    order: 1;
}
#homepage-details {
    display: none;
    order: 2;
}
#homepage-details .clicky-expand-divider a {
    transform: rotate(-.5turn);
    transform-origin: center;
}
#homepage-details:target {
    display: block;
}
#homepage-details:target ~ * {
    display: none;
}
/* end homepage */


/* start: bibliographic-reference */
cite {
    font-style: normal;
}
.bibliographic-reference {
    display: block;
    padding-left: 20px;
    text-indent: -20px;
}
/* end: bibliographic-reference */
