*, *:before, *:after {
    box-sizing: border-box;
}
body {
    color: var(--oc-gray-8);
    font-family: BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
body > header {
    align-items: center;
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 16px;
}
html {
    height: 100%;
}
nav ul {
    padding: 0;
}
nav li {
    display: inline;
    list-style: none;
}
main {
    margin: 16px auto;
    max-width: 1000px;
}

.expansion-part {
    display: none;
}
*:target > a {
    display: none;
}
*:target .expansion-part {
    display: block;
}

ol.content-list, .content-list ol {
    list-style: none;
    padding: 0;
}

.expansion-part {
    border: solid black 2px;
    margin: 16px 0;
    padding: 16px;
}
.expansion-part h2 {
    margin-top: 0;
}

#homepage-frame {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
}
#homepage-menu {
    flex-grow: 3;
    list-style: none;
    margin: 0;
    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
#homepage-menu li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5vw;
    min-width: 5vw;
}
#homepage-menu li + li {
    margin-left: 16px;
}
#homepage-menu a {
    position: absolute;
    transform: rotate(-.25turn);
    transform-origin: center;
}
#homepage-menu a:hover {
    text-decoration: underline;
}
#homepage-about {
    flex-basis: 25em;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    padding: 16px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#homepage-about img {
    width: 100%;
}
#homepage-about picture {
    width: 80%;
}

.authors {
    background-color: var(--oc-teal-1);
    color: var(--oc-teal-8);
}
.ordering {
    background-color: var(--oc-red-1);
    color: var(--oc-red-8);
}
.series {
    background-color: var(--oc-indigo-1);
    color: var(--oc-indigo-8);
}
.volumes {
    background-color: var(--oc-orange-1);
    color: var(--oc-orange-8);
}
