<header id="site-header">
    <nav>
        <ul>
            <li class="ordering"><a href="{{ SITEURL }}/ordering"><span>Ordering</span></a></li>
            <li class="authors"><a href="{{ SITEURL }}/{{ AUTHORS_URL }}"><span>Authors</span></a></li>
            <li class="series"><a href="{{ SITEURL }}/series"><span>Series</span></a></li>
            <li class="volumes"><a href="{{ SITEURL }}/volumes"><span>Volumes</span></a></li>
        </ul>
    </nav>
    Institute of Medieval Music (Test Site)
</header>
