<header id="site-header">
    <nav role="navigation">
        <ul>
            <li class="ordering"><a href="{{ SITEURL }}/ordering"><span>Ordering</span></a></li>
            <li class="authors"><a href="{{ SITEURL }}/{{ AUTHORS_URL }}"><span>Authors</span></a></li>
            <li class="series"><a href="{{ SITEURL }}/series"><span>Series</span></a></li>
            <li class="volumes"><a href="{{ SITEURL }}/volumes"><span>Volumes</span></a></li>
        </ul>
    </nav>
    <span class="imm-title">
        Institute of Medieval Music
    </span>
</header>
