<header id="site-header">
    <nav role="navigation">
        <ul>
            <li class="ordering with-bg"><a href="{{ SITEURL }}/ordering"><span>Ordering</span></a></li>
            <li class="authors with-bg"><a href="{{ SITEURL }}/{{ AUTHORS_URL }}"><span>Authors</span></a></li>
            <li class="series with-bg"><a href="{{ SITEURL }}/series"><span>Series</span></a></li>
            <li class="volumes with-bg"><a href="{{ SITEURL }}/volumes"><span>Volumes</span></a></li>
        </ul>
    </nav>
    <span class="imm-title">
        {# TODO: make this a link to the homepage #}
        Institute of Medieval Music
    </span>
</header>
