{% extends "base_with_navbar.html" %}

{% block title %}Authors{% endblock %}

{% block content %}
<h1>Authors</h1>

<ol class="content-list author-list">
{% for author in imm_authors_list %}
    <li id="{{ author['author slug'] }}">
        <a href="#{{ author['author slug'] }}">{{ author['author name'] }}</a>
        <div class="expansion-part">
            <h2>{{ author['author name'] }}</h2>
            <ol class="list-of-books">
            {% for book in author['books'] %}
                <li>&rarr;&nbsp;
                    <a href="{{ SITEURL }}/books/{{ book['isbn13'] }}">{{ book['title'] }}</a>
                    {% if book['is editor'] %}(Editor){% endif %}
                </li>
            {% endfor %}
            </ol>
        </div>
    </li>
{% endfor %}
</ol>
{% endblock %}
