{% extends "base_with_navbar.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock %}

{% block content %}
<h1>Authors</h1>

<ol class="content-list author-list">
{% for author in pages|groupby('author') %}
    {% if author.grouper is not equalto(AUTHOR) %}
    <li id="{{ author.list[0].author.slug }}">
        <a href="#{{ author.list[0].author.slug }}">{{ author.grouper }}</a>
        <div class="expansion-part">
            <h2>{{ author.grouper }}</h2>
            <ol class="list-of-books">
            {% for book in author.list|sort(attribute='title') %}
                <li>&rarr;&nbsp;<a href="{{ SITEURL }}/{{ book.url }}">{{ book.title }}</a></li>
            {% endfor %}
            </ol>
        </div>
    </li>
    {% endif %}
{% endfor %}
</ol>
{% endblock %}
