<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    {% endblock head %}
    {% block css %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css">
    {% endblock css %}
</head>

<body>
    {% include "includes/navbar.html" %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
