{% extends "base.html" %}

{% block whole_title %}{{ SITENAME }}{% endblock %}

{% macro image_link(size, format, last) %}
{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/homepage-{{ size }}.{{ format }} {{ size }}w{% if not last %},{% endif %}
{% endmacro %}

{% macro menu_link(link, class, text) %}
<li class="{{ class }} with-bg">
    <a href="{{ SITEURL }}/{{ link }}">
        <span class="rotated-text">{{ text }}</span>
    </a>
</li>
{% endmacro %}

{% block body %}
<div id="homepage-frame">

    <ul id="homepage-menu">
        {{ menu_link('ordering', 'ordering', 'Ordering') }}
        {{ menu_link('authors', AUTHORS_URL, 'Authors') }}
        {{ menu_link('series', 'series', 'Series') }}
        {{ menu_link('volumes', 'volumes', 'Volumes') }}
    </ul>

    <div class="homepage-about" id="homepage-details">
        <h1>Institute of Mediaeval Music</h1>

        <div class="homepage-expansion-divider">
            <span class="expandy-lines"></span>
            <a href="#">V</a>
            <span class="expandy-lines"></span>
        </div>

        {{ page.content }}
    </div>

    <div class="homepage-about" id="homepage-no-details">
        <figure>
            <picture>
                {# The size in @srcset is max viewport width to show that image source. #}
                {% if HOMEPAGE_IMAGE_SIZES is defined %}
                <source
                    sizes="30vw"
                    srcset="
                        {% for size in HOMEPAGE_IMAGE_SIZES %}
                        {{ image_link(size, 'webp', loop.last) }}
                        {% endfor %}
                        "
                    type="image/webp"
                >
                <source
                    sizes="30vw"
                    srcset="
                        {% for size in HOMEPAGE_IMAGE_SIZES %}
                        {{ image_link(size, 'jpg', loop.last) }}
                        {% endfor %}
                        "
                    type="image/jpeg"
                >
                {% endif %}
                <img alt="" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/homepage-500px.jpg">
            </picture>
            {% if HOMEPAGE_IMAGE_CREDIT is defined %}
                <figcaption>{{ HOMEPAGE_IMAGE_CREDIT }}</figcaption>
            {% endif %}
        </figure>

        <h1>Institute of Mediaeval Music</h1>

        <div class="homepage-expansion-divider">
            <span class="expandy-lines"></span>
            <a href="#homepage-details">V</a>
            <span class="expandy-lines"></span>
        </div>
    </div>

</div>
{% endblock body %}
