{% extends "base.html" %}

{% block whole_title %}{{ SITENAME }}{% endblock %}

{% macro image_link(size, format, last) %}
{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/homepage-{{ size }}.{{ format }} {{ size }}w{% if not last %},{% endif %}
{% endmacro %}

{% macro menu_link(link, class, text) %}
<li class="homepage-menu-item {{ class }} with-bg">
    <a href="{{ SITEURL }}/{{ link }}">
        <span class="rotated-text">{{ text }}</span>
    </a>
</li>
{% endmacro %}

{% block body %}
<div class="homepage-frame">

    <ul class="homepage-menu">
        {{ menu_link('ordering', 'ordering', 'Ordering') }}
        {{ menu_link('authors', AUTHORS_URL, 'Authors') }}
        {{ menu_link('series', 'series', 'Series') }}
        {{ menu_link('titles', 'titles', 'Titles') }}
        {{ menu_link('news', 'news', 'News') }}
    </ul>

    <h1 class="homepage-title">Institute of Mediaeval Music</h1>

    <div class="homepage-about homepage-image-section">
        <figure class="homepage-figure">
            <picture>
                {# The size in @srcset is max viewport width to show that image source. #}
                {% if HOMEPAGE_IMAGE_SIZES is defined %}
                <source
                    sizes="30vw"
                    srcset="
                        {% for size in HOMEPAGE_IMAGE_SIZES %}
                        {{ image_link(size, 'webp', loop.last) }}
                        {% endfor %}
                        "
                    type="image/webp"
                >
                <source
                    sizes="30vw"
                    srcset="
                        {% for size in HOMEPAGE_IMAGE_SIZES %}
                        {{ image_link(size, 'jpg', loop.last) }}
                        {% endfor %}
                        "
                    type="image/jpeg"
                >
                {% endif %}
                <img alt="" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/homepage-500px.jpg">
            </picture>
            {% if HOMEPAGE_IMAGE_CREDIT is defined %}
                <figcaption>{{ HOMEPAGE_IMAGE_CREDIT }}</figcaption>
            {% endif %}
        </figure>
    </div>

    <div class="homepage-about homepage-text-section">
        {{ page.content }}
    </div>

</div>
{% endblock body %}
