{% extends "base.html" %}

{% block body %}
<div id="homepage-frame">

    <ul id="homepage-menu">
        <li class="ordering with-bg"><a href="{{ SITEURL }}/ordering">Ordering</a></li>
        <li class="authors with-bg"><a href="{{ SITEURL }}/{{ AUTHORS_URL }}">Authors</a></li>
        <li class="series with-bg"><a href="{{ SITEURL }}/series">Series</a></li>
        <li class="volumes with-bg"><a href="{{ SITEURL }}/volumes">Volumes</a></li>
    </ul>

    <div class="homepage-about" id="homepage-details">
        <h1>Institute of Mediaeval Music</h1>

        <div class="clicky-expand-divider">
            <span class="expandy-lines"></span>
            <a href="#">V</a>
            <span class="expandy-lines"></span>
        </div>

        {{ page.content }}
    </div>

    <div class="homepage-about" id="homepage-no-details">
        <picture>
            {# The size in @srcset is max viewport width to show that image source. #}
            <source
                srcset="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/homepage-200px.webp 410w,
                        {{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/homepage-300px.webp 560w,
                        {{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/homepage-400px.webp 1160w,
                        {{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/homepage-500px.webp 1920w"
                type="image/webp"
            >
            <source
                srcset="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/homepage-200px.jpg 410w,
                        {{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/homepage-300px.jpg 560w,
                        {{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/homepage-400px.jpg 1160w,
                        {{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/homepage-500px.jpg 1920w"
                type="image/jpeg"
            >
            <img alt="" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/homepage-500px.jpg">
        </picture>

        <h1>Institute of Mediaeval Music</h1>

        <div class="clicky-expand-divider">
            <span class="expandy-lines"></span>
            <a href="#homepage-details">V</a>
            <span class="expandy-lines"></span>
        </div>
    </div>

</div>
{% endblock body %}
