{% extends "base.html" %}

{% block body %}
<div id="homepage-frame">

    <ul id="homepage-menu">
        <li class="ordering with-bg"><a href="{{ SITEURL }}/ordering">Ordering</a></li>
        <li class="authors with-bg"><a href="{{ SITEURL }}/{{ AUTHORS_URL }}">Authors</a></li>
        <li class="series with-bg"><a href="{{ SITEURL }}/series">Series</a></li>
        <li class="volumes with-bg"><a href="{{ SITEURL }}/volumes">Volumes</a></li>
    </ul>

    <div id="homepage-about">
        <picture>
            <img alt="" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/cathedral.jpg">
        </picture>

        <h1>The Institute of Medieval Music</h1>

        <p>
            The Institute of Mediaeval Music is a small Canadian press devoted to publishing academic
            books about all aspects of music in the Middle Ages. Series include “Publications of Mediæval
            Musical Manuscripts,” “Musical Theorists in Translation,” “Collected Works,” and “Musicological Studies.”
            The simple, distinctive hardbound covers identify each series by colour: black, red, blue, and green, respectively.</p>

        <p>
            Founded by Prof. Luther Dittmer in 1954, the Institute of Mediaeval Music was directed by Dr.
            Bryan Gillingham from 1985 to 2016, first in Ottawa, ON and after 2011 in Lions Bay, BC. In 2016-17,
            operations were transferred to Dr. Debra Lacoste, and the Institute has now moved back to Ontario.</p>

        <p>
            The earliest volumes produced through the Institute were Prof. Dittmer's; those are now being distributed
            through the American Institute of Musicology (http://www.corpusmusicae.com/mtt.htm). The approximately 200
            books published by Dr. Bryan Gillingham over his three decades as Director are available in the current IMM
            list on this website. For details of print status and pricing, please consult the Ordering page.</p>
        
        <p>
            Dr. Debra Lacoste,<br/>
            IMM Director and General Editor</p>

    </div>

</div>
{% endblock body %}
