{% extends "base_with_navbar.html" %}

{# We need "striptags" filter because Pelican adds <span class="caps"> sometimes! #}
{% block title %}{{ page.title|striptags }}{% endblock %}

{% block content %}

    <h1>{{ page.title }}</h1>

    <h2>Metadata</h2>

    <ul>
        <li>
            <a class="series" href="{{ SITEURL }}/series#{{ page.series|lower|replace(' ', '-') }}">
                Series: {{ SERIES_NAMES[page.series] }}
                {%- if page.series in SERIES_ALT_NAMES -%}
                    &puncsp;(
                    {%- for alt_name in SERIES_ALT_NAMES[page.series] -%}
                        {{ alt_name }}{% if not loop.last %}, {% endif %}
                    {%- endfor -%}
                    )
                {%- endif -%}
            </a>
        </li>
        {% if page.volume_part is defined and page.volume_part != DEFAULT_METADATA['volume_part'] %}
            <li>
                <span class="volumes">Volume: {{ page.volume }}/{{ page.volume_part }}</span>
            </li>
        {% else %}
            <li>Volume: {{ page.volume }}</li>
        {% endif %}
        {% include "includes/authors_block.html" with context %}
        {% include "includes/editors_block.html" with context %}
        <li>Price: &euro;{{ page.price }}</li>
        {% include "includes/isbn_block.html" with context %}
        {% if page.pages is defined %}
            <li>Pages: {{ page.pages }}&nbsp;pp.{% if page.plates is defined %} plus {{ page.plates }} plates{% endif %}</li>
        {% endif %}
        {% if page.size is defined %}
            <li>Size: {{ page.size }}&nbsp;cm</li>
        {% endif %}
    </ul>

    {% include "includes/bibliographic_reference.html" with context %}

    {% if page.content %}
        <h2>Description</h2>
        {{ page.content }}
    {% endif %}

    {% if page.corrigenda is defined %}
        <h2>Corrigenda</h2>
        <p>{{ page.corrigenda }}</p>
    {% endif %}

{% endblock %}
