{% extends "base_with_navbar.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

    <h1>{{ page.title }}</h1>

    <h2>Metadata</h2>

    <ul>
        <li>
            <a class="series" href="{{ SITEURL }}/series#{{ page.series|lower|replace(' ', '-') }}">
                Series: {{ SERIES_NAMES[page.series] }}
            </a>
        </li>
        {% if page.volume_part is defined and page.volume_part != DEFAULT_METADATA['volume_part'] %}
            <li>
                {# TODO: the @href for the following #}
                <a class="volumes" href="">Volume: {{ page.volume }}/{{ page.volume_part }}</a>
            </li>
        {% else %}
            <li>Volume: {{ page.volume }}</li>
        {% endif %}
        {% include "includes/authors_block.html" with context %}
        {% include "includes/editors_block.html" with context %}
        <li>Price: &euro;{{ page.price }}</li>
        {% include "includes/isbn_block.html" with context %}
        {% if page.pages is defined %}
            <li>Pages: {{ page.pages }}&nbsp;pp.{% if page.plates is defined %} plus {{ page.plates }} plates{% endif %}</li>
        {% endif %}
        {% if page.size is defined %}
            <li>Size: {{ page.size }}&nbsp;cm</li>
        {% endif %}
    </ul>

    <h2>Bibliographic Reference</h2>

    <div>
        {% if page.author is equalto AUTHOR %}Anonymous{% else %}{{ page.author }}{% endif %}.&nbsp;
        <i>{{ page.title }}</i>. {{ page.publisher }}, {{ page.place }}: {{ page.year }}.
    </div>

    {% if page.content %}
        <h2>Description</h2>
        {{ page.content }}
    {% endif %}

    {% if page.corrigenda is defined %}
        <h2>Corrigenda</h2>
        <p>{{ page.corrigenda }}</p>
    {% endif %}

{% endblock %}
