{% extends "base_with_navbar.html" %}

{% block title %}Series{% endblock %}

{% block content %}
<h1>Series</h1>

<ol class="content-list series-list">
{% for series in pages|groupby('series') %}
{% if series.grouper != DEFAULT_METADATA['series'] %}
    <li id="{{ series.grouper|lower|replace(' ', '-') }}">
        <a href="#{{ series.grouper|lower|replace(' ', '-') }}">
            {{ SERIES_NAMES[series.grouper] }}
        </a>
        <div class="expansion-part">
            <h2>
                <div>{{ SERIES_NAMES[series.grouper] }}</div>
                {% if series.grouper in SERIES_ALT_NAMES %}
                    {% for alt_name in SERIES_ALT_NAMES[series.grouper] %}
                        <div class="series-subtitle">{{ alt_name }}</div>
                    {% endfor %}
                {% endif %}
            </h2>
            <ol class="list-of-books">
            {% for book in series.list|sort(attribute='volume_sort') %}
                {% if book.volume != DEFAULT_METADATA['volume'] %}
                    {% if loop.first or loop.previtem.imm_year != book.imm_year %}
                        <div class="year-divider">
                            {% if book.imm_year %}{{ book.imm_year }}{% else %}(no date){% endif %}
                        </div>
                    {% endif %}
                    <li>
                        &rarr;&nbsp;
                        {{ book.volume }}{% if book.volume_part is defined and book.volume_part != DEFAULT_METADATA['volume_part'] %}/{{ book.volume_part }}{% endif %}:
                        <a href="{{ SITEURL }}/{{ book.url }}">{{ book.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            </ol>
        </div>
    </li>
{% endif %}
{% endfor %}
</ol>
{% endblock %}
