{% extends "base_with_navbar.html" %}

{% block title %}Titles{% endblock %}

{% block content %}
<h1>Titles</h1>

<ol class="content-list titles-list">
{% for book in pages|sort(attribute='title') %}
    {% if book.title and book.url %}
        {% if loop.previtem and loop.previtem.title[0] != book.title[0] %}
            <li><div class="category-letter">{{ book.title[0] }}</div>
                <ol class="list-of-books">
        {% endif %}
                    <li>
                        &rarr;&nbsp;
                        <a href="{{ SITEURL }}/{{ book.url }}">{{ book.title }}</a>
                    </li>
        {% if loop.last or (loop.nextitem and loop.nextitem.title[0] != book.title[0]) %}
                </ol>
            </li>
        {% endif %}
    {% endif %}
{% endfor %}
</ol>
{% endblock %}
