{% extends "base_with_navbar.html" %}

{% block title %}Multi-Part Volumes{% endblock %}

{% block content %}
<h1>Multi-Part Volumes</h1>

<ol class="content-list volumes-list">
{% for series in multipart_volumes %}
<h2>{{ series.series_name }}</h2>
    {% for volume in series.volumes %}
        <li id="{{ series.series }}-{{ volume.volume }}">
            <a href="#{{ series.series }}-{{ volume.volume }}">Vol.&nbsp;{{ volume.volume }}</a>
            <div class="expansion-part">
                <h3>{{ series.series_name }}, volume {{ volume.volume }}</h3>
                <ol class="list-of-books">
                {% for book in volume.books %}
                    <li>&rarr;&nbsp;Part {{ book.volume_part }}: <a href="{{ SITEURL }}/{{ book.url }}">{{ book.title }}</a></li>
                {% endfor %}
                </ol>
            </div>
        </li>
    {% endfor %}
{% endfor %}
</ol>
{% endblock %}
