{% extends "base_with_navbar.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}
<h1>Multi-Part Volumes</h1>

<ol class="content-list">
{% for volume in pages|groupby('volume') %}
    {% if volume.list|length > 1 %}
    {# TODO: I need to use the Series here too! #}
    <li id="{{ volume.grouper|lower|replace(' ', '-') }}">
        <a href="#{{ volume.grouper|lower|replace(' ', '-') }}">{{ volume.grouper }}</a>
        <div class="expansion-part">
            <h2>{{ volume.list[0].series}}, Vol. {{ volume.grouper }}</h2>
            <ol>
            {% for book in volume.list|sort(attribute='volume_part') %}
                <li>Part {{ book.volume_part }}: <a href="{{ SITEURL }}/{{ book.url }}">{{ book.title }}</a></li>
            {% endfor %}
            </ol>
        </div>
    </li>
    {% endif %}
{% endfor %}
</ol>
{% endblock %}
